/*
  ========================================
  GENERAL VIEWPORT SETUP
  ========================================
*/

* {
  box-sizing: border-box;
 }
 *:before,
 *:after {
  box-sizing: border-box;
 }
 html,
 body {
  height: 100%;
  position: relative;
 }

/*
  ========================================
  BODY
  font-family: 'Glegoo', serif;
  ========================================
*/
body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #FFFFFF;
  margin: 0;
  padding: 0;
}